body{
  background-color: gray;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
  font-size: 14;
}
ul {
  line-height: 40px;
}
